node_modules
dist
dist-ssr
*.local
.env
.env.local
.env*.local
.DS_Store
vite.config.js
vite.config.d.ts
tsconfig.tsbuildinfo
tsconfig.node.tsbuildinfo
data/
invoices/
data.db
data.db-shm
data.db-wal
